
h1{
    text-align: center;
    color: cornflowerblue;
    text-shadow: 1px 1px 1px black;
}

li{
    display: flex;
    justify-content: space-between;
    background-color: #D7DBDD;
    margin: 7px 0px;
    padding: 6px;
    font-weight: bold;
}
li input:hover{
    background: cornflowerblue;
    color: white;
    cursor: pointer;
}

footer{
    width: 100%;
    position: fixed;
    margin-left: -8px;
    bottom:0px;
    font-size:  1.5em;
    background: cornflowerblue;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    padding: 7px;
}